.slider {
  width: 93%;
  height: 18.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  margin-left: 0;
}

.slider-item {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiper-button-next {
  background: black;
}
